header {
    margin-top: 20px;
    text-align: center;
}

main {
    border         : 1px dotted black;
    max-width      : 930px;
    padding        : 10px;
    margin         : 10px auto;
    overflow       : auto;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    gap            : 10px;
}

@media (max-width:895px) {
    main {
        justify-content: center;
    }

    #box2 {
        order: -1;
    }
}

table {
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    border    : 1px solid gray;
    padding   : 5px 10px;
}

input[type=text] {
    text-align: center;
}

#input_area {
    min-width: 480px;
    border   : 1px dashed red;
    padding  : 20px;
    float    : left;
}

#result_area {
    min-width: 380px;
    border   : 1px dashed black;
    float    : right;
    margin   : auto;
    padding  : 20px 0 20px 18px;
}

#total_area {
    width       : 50%;
    margin-right: 20px;
    display     : inline-block;
    float       : left;
}

#letter_grade_area {
    width        : 40%;
    text-align   : center;
    display      : inline-block;
    border       : 1px dotted black;
    /* outline   : 1px solid tomato; */
}

#gradeLatter {
    font-size: 80px;
}

#textCenter {
    text-align: center;
}

#remark {
    font-weight: 600;
}

.allButton {
    min-width: 400px;
}