main {
    border  : 1px dotted black;
    width   : 950px;
    padding : 10px;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    border    : 1px solid gray;
    padding   : 5px 10px;
}

input[type=text] {
    text-align: center;
}

#input_area {
    width  : 500px;
    border : 1px dashed red;
    padding: 20px;
    float  : left;
}

#result_area {
    width  : 400px;
    border : 1px dashed black;
    float  : right;
    margin : auto;
    padding: 20px 0 20px 18px;
}

#total_area {
    width       : 50%;
    margin-right: 20px;
    display     : inline-block;
    float       : left;
}

#letter_grade_area {
    width     : 40%;
    text-align: center;
    display   : inline-block;
    border    : 1px dotted black;
}

#gradeLatter {
    font-size: 80px;
}

#textCenter {
    text-align: center;
}

#remark {
    font-weight: 600;
}

.allButton {
    width: 450px;
}